# Django/Python
*.pyc
__pycache__/
db.sqlite3
.env
*.env
*.pyo
*.pyd

# Django static/media
/staticfiles/
/media/
/static/
/backend/static/
/backend/media/

# VSCode & OS
.vscode/
.DS_Store

# AWS EB
*.ebextensions/*.log

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
